@import "fonts/fonts.css";

:root {
    --font-main: 'Fira Sans', Arial, Helvetica, sans-serif;
    --font-mono: 'Fira Mono', 'Courier New', Courier, monospace;

    --bg-primary: rgba(255, 255, 255, 1);
    --bg-secondary: rgba(0, 0, 0, 1);

    --border-default: 2px solid var(--bg-secondary);
    --shadow-default: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    --shadow-hovered-default: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    --container-width: 800px;
    --header-height: 64px;

    --color-green: rgb(76, 175, 80);
    --color-red: rgb(244, 67, 54);
}

body {
    padding: 0;
    margin: 0;
    background: url("./images/dot-grid.png") repeat;
    font-family: var(--font-main);
}

.mono {
    font-family: var(--font-mono);
}

.clickable {
    cursor: pointer;
}

.hoverable {
    box-shadow: var(--shadow-default);
}

.hoverable:hover {
    box-shadow: var(--shadow-hovered-default);
}

.button {
    display: block;
    --height: 32px;
    height: var(--height);

    background-color: var(--bg-secondary);
    color: var(--bg-primary);

    border: none;
    outline: none;
    border-radius: var(--height);
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.card_wrap {
    background: var(--bg-primary);
    border-radius: 16px;
    padding: 16px;
    box-shadow: var(--shadow-default);
}

.form_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.logo_wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 16px;
}

.logo_wrap > h1 {
    margin: 0 8px;
    font-size: 1.8em;
}

.logo {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url("./images/lock-black.svg");
}

.login_form_control {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 32px;
    margin: 32px 0;

    border-radius: 32px;
    border: none;
    outline: none;
}

.login_input {
    padding: 0 8px;
    font-family: var(--font-mono);
    border: var(--border-default);
}

.login_input:valid {
    border-color: var(--color-green);
}

.login_input:invalid {
    border-color: var(--color-red);
}

.login_input:empty {
    border-color: var(--bg-secondary);
}

#login_form {
    width: 320px;
    margin-top: 16px;
    padding: 0;
}

.passwords {
    display: flex;
    justify-content: space-around;

    padding: 16px;
}

#passwords_list {
    margin: 0;
    padding: 0;
    flex: 1;
    max-width: var(--container-width);
}

.passwords_item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    margin: 16px 0;
    background: var(--bg-primary);
    color: var(--bg-secondary);
    border-radius: 16px 0 16px 0;
    border: var(--border-default);
    padding: 16px;
}

.passwords_item_name {
    flex: 200px 1;
    margin-right: 16px;
    max-width: 200px;
}

.passwords_item_login {
    flex: 200px 1;
}

.passwords_item_favicon {
    display: block;
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.passwords_item_url {
    font-family: var(--font-mono);
}

.header_wrap {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    min-height: var(--header-height);

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--bg-secondary);
    color: var(--bg-primary);
}

.header_wrap .logo_wrap {
    justify-content: flex-start;
    height: var(--header-height);
    align-items: center;
    flex: 320px 1;
    margin: 0 8px;
}

.header_wrap .logo {
    background-image: url("./images/lock-white.svg");
}

#header_account {
    margin: 16px;
}

a#header_signout {
    margin: 16px;
    color: var(--color-red);
}

a#header_signout:visited {
    color: var(--color-red);
}

#password_form {
    max-width: var(--container-width);
    display: flex;
    flex-flow: row wrap;
}

.password_form_control {
    flex: 320px 1;
    box-sizing: border-box;
    display: block;
    height: 48px;
    margin: 16px;
    padding: 16px;

    border-radius: 48px;
    border: none;
    outline: none;
}

.password_form_input {
    border: var(--border-default);
}

.password_form_button {
    --height: 48px;
}

.actions {
    display: flex;
    padding: 16px 16px 0 16px;
    justify-content: space-around;
}

#actions_list {
    flex: 1;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: flex-end;
    max-width: var(--container-width);
}

.actions_list_item {
    --height: 48px;
    line-height: var(--height);
    padding: 0 16px;
    margin: 16px 0 0 16px;
}

